script(src="js/libs/jquery/jquery.min.js")
script(src="js/libs/handlebars/handlebars.js")
script(src="js/libs/ember/ember.min.js")
script(src="js/libs/ember-data/ember-data.min.js")
script(src="js/app.js")
script(src="js/model.js")
script(src="js/route.js")
script(src="js/ctrl.js")
script(src="js/view.js")

