extends layout

block content
    .ui.piled.segment
        .ui.huge.header Login
        .ui.divided.list
            .item
                .content
                    .header
                        | Google OpenID
                        a.circular.ui.icon.button(href='/auth/google')
                            i.sign.in.icon

